.mainContent{
	width: 1200px;
	min-height: 600px;
    margin: 20px auto 0px auto;
	min-width: 1200px;
}
.leftContent{
    width: 230px;
    padding: 10px;
    margin-right: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 5px rgba(127, 124, 124, 0.6);
    min-height: 500px;
    float: left;
}
.rightContent{
	display: inline-block;
	padding: 10px;
	min-height: 500px;
    background: #ffffff;
    width: 900px;
    box-shadow: 5px 5px 5px rgba(127, 124, 124, 0.6);
    float: left;
}