<link rel="stylesheet" href="../../theme/css/home/accordion.css">
<eyui-accordion close-others="oneAtATime">

    <div eyui-accordion-group class="panel-default" heading="accordion 1" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </div>
    
    <div eyui-accordion-group class="panel-danger" heading="accordion 1">
      <p>Please, to delete your account, click the button below</p>
      <button class="btn btn-danger">Delete</button>
    </div>

  </eyui-accordion>